spring:
  application:
    name: teamwork-gateway

  threads:
    virtual:
      enabled: true

  datasource:
    url: jdbc:postgresql://localhost:15432/teamwork
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: localhost
      port: 16379

server:
  port: 8080

gateway:
  identity:
    allow-request-user-id: true
